body {
  margin: 0;
}

nav {
    float: right;
}

nav ul li {
    display: inline-block;
}

header {
    height: 11em;
    background-color: #363636;
}

header div p a img {
    height: 10em;
}

header #logo {
    float: left;
    display: inline-block;
    margin-bottom: 1em;
}

#github-link-image {
    height: 8em;
}
